_site
.sass-cache
node_modules
.DS_STORE
.jekyll-cache
.env
.prettierignore
.jekyll-metadata
_site/
.jekyll-cache/
.sass-cache/
.bundle/
vendor/
node_modules/
.vscode/
.vs/
_site/
.jekyll-cache/
.sass-cache/
.bundle/
vendor/
node_modules/
.vscode/
.vs/
